/**
Navy: 002545
Gray: 566E82
Green: 00F5A9
SliderBackground: 00427B;
SliderForeground: 00F5A9;
Headlines: 00bdb4;
*/

:root {
  --navy: #002545;
  --gray: #566e82;
  --green: #00f5a9;
  --sliderBackground: #00427b;
  --aqua: #00bdb4;  
}

/**
Fonts
*/

@font-face {
  font-family: 'Trim';
  src: url('Trim-Bold.woff2') format('woff2'),
      url('Trim-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-Regular.woff2') format('woff2'),
      url('Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trim Poster Lanky';
  src: url('TrimPoster-Lanky.woff2') format('woff2'),
      url('TrimPoster-Lanky.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trim Poster Slender';
  src: url('TrimPoster-Slender.woff2') format('woff2'),
      url('TrimPoster-Slender.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/**
Typography and animated text
*/

h1 {
    font-family: "Trim Poster Lanky";
    color: var(--aqua);
    font-weight: 100;
    font-size: 108px;
    text-transform:uppercase;
    line-height: 100px;
}

h2 {
  font-family: "Trim";
  text-align: left;
}

.banner {
  display: flex;
}

.banner h1 {
  margin-top: 2px;
}

.banner h2 {
  margin-top: 8px;
  margin-bottom: 0;
}

.garnish {
  text-decoration: underline;
}

.banner img {
  height: 250px;
}


.headline {
  animation: fadeIn 2s;
  text-align: left;
    /* animation-fill-mode: backwards;
    animation-delay: 2s; */
}


h1.intro {
  position: relative;
  animation-timing-function: ease-in-out;
  animation: 4s slideIn;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  0% { left: -2000px; }
  10% { left: 0px; }
  60% { left: 0px; }
  70% { left: 2000px; }
  100% { left: 2000px; }
}

.menuOption button {
    width: 100%;
    background: #566e82;
    color: white;
    font-family: "Trim";
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    border: none;
    border-radius: 6px;
    margin-bottom: 8px;
    transition: background 500ms;
}

.menuOption button:hover {
  background: #A99;
}

.button0 {
    animation: fadeIn 2s;
    animation-fill-mode: backwards;
    animation-delay: 4s;
}

.button1 {
    animation: fadeIn 2s;
    animation-delay: 5s;
    animation-fill-mode: backwards;
}

.button2 {
    animation: fadeIn 2s;
    animation-delay: 6s;
    animation-fill-mode: backwards;
}

.fadeOut {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}


/**
Teletype effect
*/

.teletype {
  text-align: left;
  opacity: 1.0;
}

.fadeIn {
  opacity: 0;
  animation-name: teletypeFade;
  animation-duration: 400ms;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes teletypeFade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes teletypeFade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes teletypeFade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes teletypeFade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



/**
Journey marks
*/

ul {
  list-style-type: none;
}

.journey img {
  width: 100px;
  height: auto;
  padding-right: 60px;
}


/**
Slider
*/


.slider {
  background:  var(--sliderBackground);
  width: 75vw;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 60px;
  position: relative;
}

.progress {
  background: var(--green);
  height: 100%;
  transition: width 1s;
}

.hidden {
  display: none;
}


@media (max-width: 480px) {
  .text {
    font-size: 16px;
  }
}

.sliderIsLeaving {
  animation-name: sliderExit;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}  

@keyframes sliderExit {
  0% { top: 0px; }
  100% { top: 1000px; }
}



/*
Screen sizes
*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
  }
  
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 480px) {
/* Styles */
  .journey {
    display: none;
  }

  .banner img {
    display: none;
  }

}

@media only screen and (max-width: 1000px) {

  .menuOption button {
    font-size: 28px;
  }

  .App-header {
    font-size: 16px;
  }

}