@import "fonts.css";
@import "typography.css";
@import "animation.css";
@import "responsive.css";

:root {
  --navy: #002545;
  --gray: #566e82;
  --green: #00f5a9;
  --aqua: #00bdb4;  
}


.App {
  text-align: center;
  background-color: var(--navy);
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 2em;
}


.App-link {
  color: #61dafb;
}

.menu {
  width: 75vw;
  padding-top: 60px;
  padding-bottom: 200px;
}

.main {
  width: 75vw;
  display: flex;
}


.feedback {
  padding-top: 60px;
}



