@import "features.css";
@import "fonts.css";
@import "typography.css";
@import "animation.css";
@import "buttons.css";
@import "responsive.css";

:root {
  --navy: #002545;
  --gray: #566e82;
  --green: #00f5a9;
  --aqua: #00bdb4;  
  --highlight: #0fe0d2;
}

/**
Structure 
*/

.App {
  padding-left: 90px;
  text-align: center;
  background-color: var(--navy);
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(8px + 2vmin);
  color: white;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 2em;
}

.App-link {
  color: #61dafb;
}

.menu {
  width: 75vw;
  padding-top: 60px;
  padding-bottom: 200px;
}

.main {
  width: 100%;
  max-width: 1000px;
  display: flex;
}

.feedback .teletype {
  text-align: center;
}

.teletype {
  text-align: left;
  opacity: 1.0;
  max-width: 1200px;
  display: inline;
}

.situationText {
  text-align: left;
}

.findOutMore {
  padding-left: 0.5em;
}

.findOutMore a {
  text-decoration: none;
  color: var(--highlight);
  font-style: italic;
}

.footer {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 100px;
  max-width: 1000px;
}


/**
Utility classes
*/

.hidden {
  display: none;
}