.info {
  width: 75px;
}

.menuOption button, .next button, .score button {
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
    width: 100%;
    background: #566e82;
    color: white;
    font-family: "Trim Regular";
    text-align: left;
    border: none;
    border-radius: 6px;
    margin-bottom: 8px;
    transition: color 1s;
}

.decisionOption {
  display: flex;
  opacity: 0;
}

.miniButton  {
  width: auto !important;
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.moreInfoButton {
  background: url("info-on.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 50px;
  height: 50px;
  margin-left: 18px;
  position: relative;
  bottom: 2px;

}

.moreInfoButton:hover {
  background: url("info-off.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.decisionButton {
  flex: 10;
  padding-left: 0.5em;
  background: #566e82;
  color: white;
  font-family: "Trim Regular";
  text-align: left;
  border: none;
  border-radius: 6px;
  margin-bottom: 8px;
  cursor: pointer;
}


.menuOption .learnMore {
  display: block;
  padding: 20px;
  margin: -20px;
}

.menuOption .label {
  padding-left: 0.5em;
}

.menuOption {
    opacity: 0;
    transition: opacity;
    animation-fill-mode: forwards;
    display: flex;
}

.menuOption:hover, .next button:hover, .score button:hover, .decisionButton:hover {
  background: var(--highlight);
  color: var(--highlightDark);
}

.fadeOut {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

.menuOption {
    padding: 1px 6px;
    appearance: auto;
    text-rendering: auto;
    padding-left: 0.5em;
    width: 100%;
    background: #566e82;
    color: white;
    font-family: "Trim Regular";
    text-align: left;
    border: none;
    border-radius: 6px;
    margin-bottom: 8px;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    box-sizing: border-box;
    padding: 1px 6px;
}