
.menuOption button, .next button, .score button {
    width: 100%;
    background: #566e82;
    color: white;
    font-family: "Trim Medium";
    font-weight: bold;
    text-align: left;
    border: none;
    border-radius: 6px;
    margin-bottom: 8px;
}

.menuOption button, .next button, .score button {
    font-size: 36px;
}

.menuOption {
    opacity: 0;
    transition: opacity;
    animation-fill-mode: forwards;
}

.menuOption button:hover, .next button:hover, .score button:hover {
  background: var(--highlight);
}

.fadeOut {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}
