  .banner img {
    height: 250px;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
    

  /**
  Journey marks
  */
  
  
  .journey {
    padding-top: 40px;
    padding-right: 60px;
    width: 200px;
  }
  
  .journeyIsLeaving {
    position: relative;
    animation-name: journeysEnd;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  
  /**
  Lists
  */
  
  ul {
    list-style-type: none;
  }
  
  /**
  Journey boxes
  */
  
  .journey img {
    width: 100px;
    height: auto;
    padding-right: 60px;
  }

  .journey li {
    color: #fff;  
  }
  

  /**
  Welcome screen
  */

  .play {
    cursor: pointer;
  }
  
  /**
  Helpers
  */
  
  .hidden {
    display: none;
  }
  

  /**
  Welcome
  */

  .welcome logo {
    height: 50vh;
  }

  .welcome play {
    height: 33vh;
  }
  
  