  .banner img {
    height: 250px;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  /**
  Modes 
  */

  .situation {
    text-align: left;
  }
    

  /**
 Progress blocks
  */
    
  .journey {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    display: flex;  
    flex-direction: column;
  }

  .journeyIsLeaving {
    position: relative;
    animation-name: journeysEnd;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  .question img {
    height: 250px;
    transition: 1s;
  }


  .journey li {
    color: #fff;  
  }
  

  
  /**
  Lists
  */
  
  ul {
    list-style-type: none;
  }
  

  /**
  Welcome screen
  */

  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .welcome .graphicBlock {
    height: 25vmin;
    position: relative;
    top: 20px;
  }

  .welcome .logo {
    height: 30vmin;
  }

  .welcome .play img {
    height: 20vmin;

  }

  .play {
    cursor: pointer;
  }
  
  /**
  Helpers
  */
  
  .hidden {
    display: none;
  }

  .flexHorizontal {
    display: flex;
    flex-direction: row;
  }
  

  
  /**
  Learn More
  */

  .moreAnchor {
    display: none;
    text-decoration: none;
    color: white;
    font-style: italic;
  }


  /**
  Score
  */

  .score {
    text-align: left;
    padding-left: 75px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
  }

  .scoreGraphic {
    flex: 5;
  }
  
  .scoreGraphic img {
    max-width: 60vmin;
  }

  /**
  Social
  */

  .social {
    position: absolute;
    top: 2em;
    right: 4em;
    list-style-type: none;
    display: none;
    flex-direction: column;
  }

  .social ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding-top: 7px;
  }

  .social ul.company {
    margin-bottom: 12px;
  }

  .social ul.others {
    background: var(--accent);
    border-radius: 4em;
  }

  .social li {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
  }


  .social li:hover {
    background-repeat: no-repeat;
    background-position: center;
  }

  .facebook {
    background: url('facebook-normal.svg');
  }
  
  .twitter {
    background: url('twitter-normal.svg');  
    margin: 0 0 -16px 0;
  }

  .twitter:hover {
    background: url('twitter-hover.svg');
  }

  .acme {
    background: url('acme-logo-normal.svg');
  }

  .facebook:hover {
    background: url('facebook-hover.svg');
  }

  .acme:hover {
    background: url('acme-logo-hover.svg');
  }

  .linkedin {
    background: url('linkedin-normal.svg');
    margin: 0 0 -16px 0;
  }

  .linkedin:hover {
    background: url('linkedin-hover.svg');
  }


  .social ul.others::before {
    content: "SHARE";
    color: var(--aqua);
    font-size: smaller;
    position: relative;
    top: 7px;
  }