  .banner img {
    height: 250px;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  /**
  Modes 
  */

  .situation {
    text-align: left;
  }
    

  /**
 Progress blocks
  */
    
  .journey {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    display: flex;  
    flex-direction: column;
  }

  /* .journey span {
    height: 65px;
  } */
  
  .journeyIsLeaving {
    position: relative;
    animation-name: journeysEnd;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  .question .graphicBlock {
    height: 250px;
    transition: 1s;
    z-index: 9999;
  }

  
  /**
  Lists
  */
  
  ul {
    list-style-type: none;
  }
  
  /**
  Journey boxes
  */
  
  .journey img {
    width: 100px;
    height: auto;
    padding-right: 60px;
  }

  .journey li {
    color: #fff;  
  }
  

  /**
  Welcome screen
  */

  .welcome img {
    height: 250px;
  }

  .play {
    cursor: pointer;
  }
  
  /**
  Helpers
  */
  
  .hidden {
    display: none;
  }
  

  
  /**
  Learn More
  */

  .moreAnchor {
    display: none;
    text-decoration: none;
    color: white;
    font-style: italic;
  }


  /**
  Score
  */

  .score {
    text-align: left;
  }