
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .App {
    padding-left: 0 !important;
  }


  .welcome .logo {
    width: 75vw;
    height: auto;
  }


  .journey {
    display: none;
  }


  h1 {
    font-size: 52px !important;
    line-height: 1em;
  }

  h2 {
    font-size: 18px !important;
  }

  .menuOption, .button, .next, span.label {
    font-size: 24px;
  }

  span.learnMore {
    font-size: 14px !important;
  }

  .findOutMore a {
    font-size: 16px;
  }

  .decisionButton {
    font-size: 18px !important;
  }

  .score {
    padding-left: 0;
  }

  .answer {
    width: 66vw;
  }

  .footer {
    margin-top: 10px !important;
  }

  /* Styles */
  }

  
    
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
  /* Styles */
  }
  
  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width : 480px) {
  /* Styles */
  
    .banner img {
      display: none;
    }
  
  }
  
  @media only screen and (max-width: 1280px) {
    
    .menuOption button {
      font-size: 28px;
    }
  
    .App-header {
      font-size: 16px;
    }
  
    
    .footer {
      padding-bottom: 110px;
    }
  
  
  }

  @media (max-width: 480px) {
    .text {
      font-size: 16px;
    }
  }
  