
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .welcome img {
    height: 100px;
  }

  .journey {
    display: none;
  }

  .App-container {
    padding-left: 0 !important;
  }

  h1 {
    font-size: 52px !important;
    line-height: 1em;
  }

  h2 {
    font-size: 18px !important;
  }

  .menuOption, .button, .next, button, span.label {
    font-size: 24px !important;
  }

  span.learnMore {
    font-size: 14px !important;
  }

  /* Styles */
  }
    
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
  /* Styles */
  }
  
  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width : 480px) {
  /* Styles */
  
    .banner img {
      display: none;
    }
  
  }
  
  @media only screen and (max-width: 1280px) {
    
    .menuOption button {
      font-size: 28px;
    }
  
    .App-header {
      font-size: 16px;
    }
  
    
    .footer {
      padding-bottom: 110px;
    }
  
  
  }

  @media (max-width: 480px) {
    .text {
      font-size: 16px;
    }
  }
  