@font-face {
    font-family: 'Trim';
    src: url('Trim-Medium.woff2') format('woff2'),
        url('Trim-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

