body {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: "Trim Poster Lanky";
    color: var(--aqua);
    font-weight: 100;
    font-size: 108px;
    text-transform:uppercase;
    line-height: 100px;
    margin-top: 0;
}


h2 {
  font-family: "Trim";
  text-align: left;
}

.banner {
  display: flex;
}

.banner h1 {
  margin-top: 2px;
}

.banner h2 {
  margin-top: 8px;
  margin-bottom: 0;
}

.garnish {
  text-decoration: underline;
}

.headline {
  position: relative;
  animation: slideIn 6s;
  text-align: left;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

